<%- include('../partials/header.ejs') %>
<body>
    
  <div class="principal configD">
    <%- include('../partials/navbar.ejs') %>
      <div id="carouselExample" class="carousel slide">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="img/filmes.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="img/filmes.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="img/filmes.jpg" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        
        <br>

        <div class="conteiner">

            <div class="categoria"><h1>Filmes</h1>
            
            <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col">
              <div class="card efeito efeitoCont">
                <img src="img/filmes.jpg" class="card-img-top" alt="...">
                <!--<div class="card-body"> -->
                  <!--<h5 class="card-title"></h5> -->
                  <!--<p class="card-text"></p> -->
                <!--</div> -->
              </div>
            </div>
            <div class="col">
              <div class="card efeito efeitoCont">
                <img src="img/filmes.jpg" class="card-img-top" alt="...">
                <!--<div class="card-body"> -->
                  <!--<h5 class="card-title"></h5> -->
                  <!--<p class="card-text"></p> -->
                <!--</div> -->
              </div>
            </div>
            <div class="col">
              <div class="card efeito efeitoCont">
                <img src="img/filmes.jpg" class="card-img-top" alt="...">
                <!--<div class="card-body"> -->
                  <!--<h5 class="card-title"></h5> -->
                  <!--<p class="card-text"></p> -->
                <!--</div> -->
              </div>
            </div>
            <div class="col">
              <div class="card efeito efeitoCont">
                <img src="img/filmes.jpg" class="card-img-top" alt="...">
              </div>
            </div>
            </div>    
        </div>      
      </div>

      <div class="categoria"><a href=""><h1>Veja mais</h1></a></div>

      <br>
      <div class="conteiner">

        <div class="categoria"><h1>Séries</h1>
        
        <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col">
          <div class="card efeito efeitoCont">
            <img src="img/filmes.jpg" class="card-img-top" alt="...">
            <!--<div class="card-body"> -->
                  <!--<h5 class="card-title"></h5> -->
                  <!--<p class="card-text"></p> -->
                <!--</div> -->
          </div>
        </div>
        <div class="col">
          <div class="card efeito efeitoCont">
            <img src="img/filmes.jpg" class="card-img-top" alt="...">
            <!--<div class="card-body"> -->
                  <!--<h5 class="card-title"></h5> -->
                  <!--<p class="card-text"></p> -->
                <!--</div> -->
          </div>
        </div>
        <div class="col">
          <div class="card efeito efeitoCont">
            <img src="img/filmes.jpg" class="card-img-top" alt="...">
            <!--<div class="card-body"> -->
                  <!--<h5 class="card-title"></h5> -->
                  <!--<p class="card-text"></p> -->
                <!--</div> -->
          </div>
        </div>
        <div class="col">
          <div class="card efeito efeitoCont">
            <img src="img/filmes.jpg" class="card-img-top" alt="...">
          </div>
        </div>
        </div>

        <div class="categoria"><a href=""><h1>Veja mais</h1></a></div>
        
        <div class="conteiner">

          <div class="categoria"><h1>Documentário</h1>
          
          <div class="row row-cols-1 row-cols-md-4 g-4">
          <div class="col">
            <div class="card efeito efeitoCont">
              <img src="img/filmes.jpg" class="card-img-top" alt="...">
              <!--<div class="card-body"> -->
                  <!--<h5 class="card-title"></h5> -->
                  <!--<p class="card-text"></p> -->
                <!--</div> -->
            </div>
          </div>
          <div class="col">
            <div class="card efeito efeitoCont">
              <img src="img/filmes.jpg" class="card-img-top" alt="...">
              <!--<div class="card-body"> -->
                  <!--<h5 class="card-title"></h5> -->
                  <!--<p class="card-text"></p> -->
                <!--</div> -->
            </div>
          </div>
          <div class="col">
            <div class="card efeito efeitoCont">
              <img src="img/filmes.jpg" class="card-img-top" alt="...">
              <!--<div class="card-body"> -->
                  <!--<h5 class="card-title"></h5> -->
                  <!--<p class="card-text"></p> -->
                <!--</div> -->
            </div>
          </div>
          <div class="col">
            <div class="card efeito efeitoCont">
              <img src="img/filmes.jpg" class="card-img-top" alt="...">
            </div>
          </div>
          </div>
          
          <div class="categoria"><a href=""><h1>Veja mais</h1></a></div>
  </div>        
      






</body>
<%- include('../partials/footer.ejs') %>