<%- include('../partials/header.ejs') %>
<body>
    
  <div class="principal configD">
    <%- include('../partials/navbar.ejs') %>

        <br>

        <div class="conteiner">

            <div class="categoria"><h1>Séries</h1>
            
            <div class="row row-cols-1 row-cols-md-6 g-4">
            <div class="col">
              <div class="card efeito efeitoCont">
                <img src="img/filmes.jpg" class="card-img-top" alt="...">
                <!--<div class="card-body"> -->
                  <!--<h5 class="card-title"></h5> -->
                  <!--<p class="card-text"></p> -->
                <!--</div> -->
              </div>
            </div>
            <div class="col">
              <div class="card efeito efeitoCont">
                <img src="img/filmes.jpg" class="card-img-top" alt="...">
                <!--<div class="card-body"> -->
                  <!--<h5 class="card-title"></h5> -->
                  <!--<p class="card-text"></p> -->
                <!--</div> -->
              </div>
            </div>
            <div class="col">
              <div class="card efeito efeitoCont">
                <img src="img/filmes.jpg" class="card-img-top" alt="...">
                <!--<div class="card-body"> -->
                  <!--<h5 class="card-title"></h5> -->
                  <!--<p class="card-text"></p> -->
                <!--</div> -->
              </div>
            </div>
            <div class="col">
                <div class="card efeito efeitoCont">
                <img src="img/filmes.jpg" class="card-img-top" alt="...">
                </div>
            </div>            
            
            <div class="col">
                <div class="card efeito efeitoCont">
                <img src="img/filmes.jpg" class="card-img-top" alt="...">
                </div>
            </div>

            <div class="col">
                <div class="card efeito efeitoCont">
                <img src="img/filmes.jpg" class="card-img-top" alt="...">
                </div>
            </div>

            <div class="col">
                <div class="card efeito efeitoCont">
                <img src="img/filmes.jpg" class="card-img-top" alt="...">
                </div>
            </div>

            <div class="col">
                <div class="card efeito efeitoCont">
                <img src="img/filmes.jpg" class="card-img-top" alt="...">
                </div>
            </div>

            <div class="col">
                <div class="card efeito efeitoCont">
                <img src="img/filmes.jpg" class="card-img-top" alt="...">
                </div>
            </div>

            <div class="col">
                <div class="card efeito efeitoCont">
                <img src="img/filmes.jpg" class="card-img-top" alt="...">
                </div>
            </div>

            <div class="col">
                <div class="card efeito efeitoCont">
                <img src="img/filmes.jpg" class="card-img-top" alt="...">
                </div>
            </div>

            <div class="col">
                <div class="card efeito efeitoCont">
                <img src="img/filmes.jpg" class="card-img-top" alt="...">
                </div>
            </div>

            <div class="col">
                <div class="card efeito efeitoCont">
                <img src="img/filmes.jpg" class="card-img-top" alt="...">
                </div>
            </div>

            <div class="col">
                <div class="card efeito efeitoCont">
                <img src="img/filmes.jpg" class="card-img-top" alt="...">
                </div>
            </div>

            <div class="col">
                <div class="card efeito efeitoCont">
                <img src="img/filmes.jpg" class="card-img-top" alt="...">
                </div>
            </div>

            <div class="col">
                <div class="card efeito efeitoCont">
                <img src="img/filmes.jpg" class="card-img-top" alt="...">
                </div>
            </div>

            <div class="col">
                <div class="card efeito efeitoCont">
                <img src="img/filmes.jpg" class="card-img-top" alt="...">
                </div>
            </div>

            <div class="col">
                <div class="card efeito efeitoCont">
                <img src="img/filmes.jpg" class="card-img-top" alt="...">
                </div>
            </div>

            <div class="col">
                <div class="card efeito efeitoCont">
                <img src="img/filmes.jpg" class="card-img-top" alt="...">
                </div>
            </div>

            <div class="col">
                <div class="card efeito efeitoCont">
                <img src="img/filmes.jpg" class="card-img-top" alt="...">
                </div>
            </div>

            <div class="col">
                <div class="card efeito efeitoCont">
                <img src="img/filmes.jpg" class="card-img-top" alt="...">
                </div>
            </div>

            <div class="col">
                <div class="card efeito efeitoCont">
                <img src="img/filmes.jpg" class="card-img-top" alt="...">
                </div>
            </div>

            <div class="col">
                <div class="card efeito efeitoCont">
                <img src="img/filmes.jpg" class="card-img-top" alt="...">
                </div>
            </div>

            <div class="col">
                <div class="card efeito efeitoCont">
                <img src="img/filmes.jpg" class="card-img-top" alt="...">
                </div>
            </div>


            </div>    
        </div>      
    </div>

    <br>

    <div class="categoria"><a href=""><h1>Veja mais</h1></a></div>

      <%- include("../partials/footer-1.ejs") %>

    </div>        


</body>
<%- include('../partials/footer.ejs') %>